/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    position: relative;*/
/*    font-weight: unset;*/
/*}*/
.main {
    --theme-color: #39c5bb
}
/* 以下为登录、注册、重置密码所使用的样式 */
#login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.base-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    margin: 2rem;
}
.input {
    margin-bottom: 2rem;
    --va-input-min-height: 6vh;
    width: 100%;
}

.va-modal--mobile-fullscreen {
    min-width: 0 !important;
    min-height: 0 !important;
    border-radius: 0.5rem;
}

h1 {
    font-size: 2em; !important;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.17em !important;
}

h4 {
    font-size: 16px !important;
}

h5 {
    font-size: 0.83em !important;
}

h6 {
    font-size: 0.67em !important;
}